body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  .video-box {
    position: relative;
    overflow: hidden;
  }
  .video-box video {
    position: absolute;
    top: 0px;
    left: 0;
    width: 0;
    height: 0; 	
    z-index: -1;
  }
  .video-content {
    position: relative;
    color: #fff;
    padding: 50px;
    font-size: 20px;
  }
  .video-content:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;	
  }
  